  
  <head>
    <link rel="stylesheet" href="/css/OrderMngmnt-Admin.css">
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>

</head>
  
  
  <main class="main-content">
    <div class="orders-header">
      <h2>Orders</h2>
      <div class="actions">
        <form action="/admin/order"method="GET">
          <input type="text" name="search" placeholder="ðŸ” Search here" value="{{search}}">
        </form>
      </div>
    </div>

    <table class="orders-table">
      <thead>
        <tr>
          
          <th>Customer</th>
          <th>Order ID</th>
          <th>No. Items</th>
          <th>Date</th>
          <th>Price</th>
          <th>Payment Status</th>
          <th>Action</th>
        </tr>
      </thead>
      
        <tbody>
      {{#each orders}}
       
          <tr>
            <td>{{this.userId.name}}</td>
            <td>
              <span>{{this.orderId}}</span>
            </td>
            <td>{{this.orderedItems.length}}</td>
            
            <td>{{formatDate this.createdAt}}</td>
            <td>â‚¹{{this.finalAmount}}</td>
            <td>
              {{#if (eq this.currentStatus "Cancelled")}}
              <span class="status cancelled">
                Cancelled
              </span>
              {{else}}
              <span class="status {{this.paymentStatus}}">
                {{this.paymentStatus}}
              </span>
              {{/if}}
            </td>
            <td>
              <button class="btn-edit" 
                      onclick="orderManagement(event,'{{this._id}}')">
                Details
              </button>
            </td>
          </tr>
        {{/each}}
      
    </tbody>


      
    </table>

    {{!-- Pagination --}}
    
    <div class="pagination">
      {{!-- Previous --}}
      {{#ifCond currentPage ">" 1}}
        <a href="?page={{decrement currentPage}}" class="page-btn">&lt;</a>
      {{else}}
        <button class="page-btn" disabled>&lt;</button>
      {{/ifCond}}

      {{!-- Page Numbers --}}
      {{#each (range 1 totalPage)}}
        {{#ifCond this "===" ../currentPage}}
          <span class="page-number current">{{this}}</span>
        {{else}}
          <a href="?page={{this}}" class="page-number">{{this}}</a>
        {{/ifCond}}
      {{/each}}

      {{!-- Next --}}
      {{#ifCond currentPage "<" totalPage}}
        <a href="?page={{increment currentPage}}" class="page-btn">&gt; </a>
      {{else}}
        <button class="page-btn" disabled>&gt;</button>
      {{/ifCond}}
    </div>


  </main>

</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="/js/jquery-3.3.1.min.js"></script>
<script src="/js/bootstrap.min.js"></script>

<script>

 function orderManagement(event,id){
      
      event.preventDefault();
      try {
            window.location.href = `/admin/orderMangement/${id}`;
        } catch (error) {
            console.error("Error navigating to order management:", error);
        }

   }
</script>


