
<head>
    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&display=swap"
    rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="css/home.css" type="text/css">
    {{!-- toastify --}}
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">

</head>



    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>
   



    <!-- Hero Section Begin -->
    <section class="hero">
        <div class="hero__slider owl-carousel">
            <div class="hero__items set-bg" data-setbg="img/hero/hero-1.jpg">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-5 col-lg-7 col-md-8">
                            <div class="hero__text">
                                <h6>Be bold. Be timeless. Be you</h6>
                                <h2>Style delivered to your door step</h2>
                                <p>A specialist label creating luxury essentials. Ethically crafted with an unwavering
                                commitment to exceptional quality.</p>
                                <a href="/shop" class="primary-btn">Shop now <span class="arrow_right"></span></a>
                                <div class="hero__social">
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>  
            <div class="hero__items set-bg" data-setbg="img/hero/hero-2.jpg">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-5 col-lg-7 col-md-8">
                            <div class="hero__text">
                                <h6>Be bold. Be timeless. Be you</h6>
                                <h2>Style delivered to your door step</h2>
                                <p>A specialist label creating luxury essentials. Ethically crafted with an unwavering
                                commitment to exceptional quality.</p>
                                <a href="#" class="primary-btn">Shop now <span class="arrow_right"></span></a>
                                <div class="hero__social">
                                   
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Hero Section End -->

    <!-- Banner Section Begin -->
    <section class="banner spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-7 offset-lg-4">
                    <div class="banner__item">
                        <div class="banner__item__pic">         
                            <img src="{{mensImg}}" alt="Mens style" style="width:25rem; height:20rem">
                        </div>
                        <div class="banner__item__text">
                            <h2>Men’s Style</h2>
                            <a href="/mensCategory">Shop now</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5">
                    <div class="banner__item banner__item--middle">
                        <div class="banner__item__pic">
                            {{!-- <img src="img/banner/banner-2.jpg" alt=""> --}}
                            <img src="{{womensImg}}" alt="womens style" style="width:25rem; height:20rem">
                        </div>
                        <div class="banner__item__text">
                            <h2>Women’s Style</h2>
                            <a href="/womensCategory">Shop now</a>
                        </div>
                    </div>
                </div>
                 <div class="col-lg-7">
                    <!--<div class="banner__item banner__item--last">
                        <div class="banner__item__pic">
                            {{!-- <img src="img/banner/banner-3.jpg" alt=""> --}}
                            <img src="{{beautyImg}}" alt="beauty style" style="width:25rem; height:15rem">
                        </div>
                        <div class="banner__item__text">
                            <h2>Own Your Glow</h2>
                            <a href="/beautyCategory">Shop now</a>
                        </div>
                    </div>-->
                </div> 
            </div>
        </div>
    </section>
    <!-- Banner Section End -->



    <!-- Product Section Begin -->
    <section class="product spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <ul class="filter__controls">

                        {{!-- <li class="active" data-filter="*">Best Sellers</li> --}}
                        <li data-filter=".new-arrivals">New Arrivals</li>
                        {{!-- <li data-filter=".hot-sales">Hot Sales</li> --}}
                    </ul>
                </div>
            </div>
            <div class="row product__filter">
             {{#each products}}
                <div class="col-lg-3 col-md-6 col-sm-6 mix new-arrivals">
                    <div class="product__item">
                        <a href="/productDetails?id={{this._id}}">
                            <div class="product__item__pic set-bg" data-setbg="/images/{{this.productImages.[0]}}">
                                <span class="label">New</span>
                                {{!-- <ul class="product__hover">
                                    <li><button  onclick="addWishlist(event,'{{this._id}}')"><img src="img/icon/heart.png" alt=""></button></li>
                                    <li><img src="img/icon/compare.png" alt=""> <span>Compare</span></li>
                                    <li><img src="img/icon/search.png" alt=""></li>
                                </ul> --}}
                            </div>
                        </a>
                        <div class="product__item__text">
                            <h6>{{this.productName}}</h6>
                            
                            {{#if (includes ../wishlistProducts this._id)}}
                                <a id="wishlist-{{this._id}}" class="add-cart">❤️ Wishlisted</a>
                                {{else}}
                                <a href="#" id="wishlist-{{this._id}}" onclick="addWishlist(event,'{{this._id}}')" class="add-cart">+ Add to Wish
                                    list</a>
                            {{/if}}
                            {{!-- <div class="rating">
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                                <i class="fa fa-star-o"></i>
                            </div> --}}
    
                                {{#if (gt this.appliedOffer 0)}}
                                    <p style="color: red; font-weight:900; font-size:large">{{this.appliedOffer}}% off</p> 
                                {{/if}}

                           
                            <h5>&#x20b9;{{this.salePrice}} <span style="text-decoration: line-through; color: #888;">&#x20b9;{{this.regularPrice}}</span> </h5>
                            
                        </div>
                    </div>
                </div>
                {{/each}}


            </div>
        </div> 
    </section>
    <!-- Product Section End -->

    <!-- Search Begin -->
    <div class="search-model">
        <div class="h-100 d-flex align-items-center justify-content-center">
            <div class="search-close-switch">+</div>
            <form class="search-model-form">
                <input type="text" id="search-input" placeholder="Search here.....">
            </form>
        </div>
    </div>
    <!-- Search End -->


<script src="js/jquery-3.3.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
<script>
  $(document).ready(function () {
    $('.set-bg').each(function () {
      const bg = $(this).data('setbg');
      if (bg) {
        $(this).css('background-image', 'url(' + bg + ')');
      }
    });
  });

  
/*async function addToCarts(event,id){
    event.preventDefault();
  const res=await fetch(`/addToCarts/${id}`,{
    method:"POST",
    headers:{"Content-type":"application/json"},
  })
  const data = await res.json();
  if(res.ok){
  
   Toastify({
        text: data.message,
        duration: 3000,
        close: true,          
        gravity: "top",       
        position: "center",    
        style: {
            background: "linear-gradient(to right, #0f2027, #203a43, #2c5364)", 
        },
        className: "custom-toast", 
        onClick: () => {     
            alert("Toast clicked!");
        }
        }).showToast();

        document.getElementById("cart-count").textContent = data.cartCount;


  }
}*/


async function addWishlist(event,id){
    event.preventDefault();
    console.log('addWishlist loaded with id   :::::::',id)
    const res=await fetch(`/addWishlist/${id}`,{
        method:"POST",
        headers:{"Content-type":"application/json"}
    })

    const data=await res.json()


    if(res.ok){
        Toastify({
            text: "Added to wishlist",
            duration: 3000,
            close: true,          
            gravity: "top",
            position: "center",    
            style: {
                background: "linear-gradient(to right, #0f2027, #203a43, #2c5364)", 
            },
            className: "custom-toast", 
            onClick: () => {     
                alert("Toast clicked!");
        }
        }).showToast();
        document.getElementById(`wishlist-${id}`).innerHTML="❤️ Wishlisted"
        wishlistBtn.onclick = null;
        wishlistBtn.removeAttribute("onclick");
        wishlistBtn.style.pointerEvents = "none";
    }
}




</script>


